%%-*- mode: erlang -*-
{deps, [
  {webmachine, "1.10.*", {git, "https://github.com/webmachine/webmachine.git", {branch, "main"}}}
]}.

{relx, [{release, {'{{name}}', "0.1.0"},
         ['{{name}}',
          sasl]},

        {sys_config, "./config/sys.config"},
        {vm_args, "./config/vm.args"},

        {dev_mode, true},
        {include_erts, false},

        {extended_start_script, true}]
}.

{profiles, [
    {dev, [
        {deps, [
            {sync, ".*", {git, "https://github.com/rustyio/sync.git", {branch, "master"}}}
        ]}
    ]},
    {prod, [
        {relx, [
            {dev_mode, false},
            {include_erts, true}
        ]}
    ]}
]}.
